<!-- ? Se importa el componente del header -->
<app-header-menu></app-header-menu>

<div class="row">
    <div class="col-2" style="border-right: 1px solid black;">
        <app-side-bar-menu></app-side-bar-menu>
    </div>

    <!-- ? Tabla -->
    <div class="col-md-9">

        <div class="container mt-5">
            <div class="row justify-content-between mb-3">

                <div class="col-md-6">
                    <h1>Cotizaciones</h1>
                </div>


                <div class="col-md-6 mt-3">
                    <div class="row">
                        <form class="form-inline col-auto col-md-8">
                            <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
                        </form>

                        <button type="button" class="btn custom-button col-md-4" data-bs-toggle="modal"
                            data-bs-target="#addModal">
                            Crear Cotización
                        </button>
                    </div>
                </div>

            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Fecha de entrega</th>
                        <th scope="col">Productos</th> <!-- Ver productos en una modal -->
                        <th scope="col">Estado</th>
                        <th scope="col">Pago</th>
                        <th scope="col">Anular</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>12/06/2022</td>
                        <td>
                            <button type="button" class="btn custom-button">
                                <img src="https://cdn-icons-png.flaticon.com/512/709/709612.png" alt="logo"
                                    style="width: 20px;">
                            </button>
                        </td>
                        <td>
                            Sin respuesta
                        </td>
                        <td>
                            <button type="button" class="btn custom-button">
                                Pagar
                            </button>
                        </td>
                        <td>
                            <a href="#"><img src="https://cdn-icons-png.flaticon.com/512/1828/1828666.png" alt="logo"
                                    style="width: 30px;"></a>
                        </td>
                    </tr>

                    <tr>
                        <th scope="row">2</th>
                        <td>16/08/2022</td>
                        <td>
                            <button type="button" class="btn custom-button">
                                <img src="https://cdn-icons-png.flaticon.com/512/709/709612.png" alt="logo"
                                    style="width: 20px;">
                            </button>
                        </td>
                        <td>
                            Aceptado
                        </td>
                        <td>
                            <button type="button" class="btn custom-button">
                                Pagar
                            </button>
                        </td>
                        <td>
                            <a href="#"><img src="https://cdn-icons-png.flaticon.com/512/1828/1828666.png" alt="logo"
                                    style="width: 30px;"></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- *************************************** Modales ********************************************* -->

<!-- ? add Modal -->

<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Crear cotización</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn custom-button">Crear</button>
            </div>
        </div>
    </div>
</div>