<div class="row header-page justify-content-between">
    <div class="col-2 p-3">
        <h1>Eden Soft</h1>
    </div>
    <div class="col-4 p-3">
        <h2>Inicio | Contacto | Iniciar sesión</h2>
    </div>

</div>

<!-- ! ###################### Para que los comentarios se vean mejor, instalen la extensión "Better comments" ########################################## -->

<div class="row">
    <!-- ? Sidebar menu -->
    <div class="col-2">
        <ul class="nav flex-column mt-2">
            <!-- ? Usuarios -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                    aria-expanded="false">Usuarios</a>
                <ul class="dropdown-menu">
                    <li><a class="nav-link" [routerLink]="'/login'">Login</a></li>
                    <li><a class="nav-link" [routerLink]="'/registro'">Registro</a></li>
                </ul>
            </li>

            <!-- ? Configuración -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                    aria-expanded="false">Configuración</a>
                <ul class="dropdown-menu">
                    <li><a class="nav-link" [routerLink]="'/roles'">Roles</a></li>
                </ul>
            </li>

            <!-- ? Ventas -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                    aria-expanded="false">Ventas</a>
                <ul class="dropdown-menu">
                    <li><a class="nav-link" [routerLink]="'/cotizacion'">Cotización</a></li>
                </ul>
            </li>

            <hr>
            <p style="color: black; padding: 5px;">
                Juandi: Oes, este es un pequeño menú que hice de ejemplo mientras que diseñamos mejor esta pagina de
                inicio,
                es como para movernos entre las páginas que vayamos haciendo.
            </p>
            <p style="color: black; padding: 5px;">
                PostData: cada que hagan un módulo lo agregan a este menú, ya después lo organizamos bien.
            </p>
        </ul>

    </div>

    <!-- ? Esta es la imagen de los buñuelos, mirar css -->
    <div class="col-10">
        <div class="main-image">
            <div class="container">
            </div>
        </div>

    </div>
</div>