<p style="color: black; padding: 5px; ">Este es el menú lateral, supongo yo que aquí van a ir los otros
    items del menú</p>
<p style="color: black; padding: 5px; ">Aquí va el Naruto (Relleno): </p>
<hr>
<p style="color: black; padding: 5px; ">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
    Repudiandae laudantium nesciunt error dolorum
    beatae delectus quo totam nostrum doloremque commodi, soluta eveniet consequatur, ab possimus tempora,
    dolorem sequi ut cumque.</p>
<p style="color: black; padding: 5px; ">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi
    excepturi numquam dignissimos et earum
    vero tempore minima fuga dicta fugiat, doloribus nihil soluta blanditiis, cupiditate, itaque possimus
    corrupti pariatur unde!</p>